body, h1, h2, h3, h4, h5, h6, p, a, button, nav, footer {
    font-family: 'Poor Story', sans-serif !important;
}

.navbar .form-control {
    width: calc(100% - 150px); 
    max-width: 600px; 
    height: 50px; 
    font-size: 1.25rem; 
}

.navbar .btn-outline-success {
    height: 50px; 
    font-size: 1.25rem; 
    padding: 10px 20px; 
}


.navbar-nav {
    margin-left: auto; 
    display: flex; 
    align-items: center; 
}
