{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
  <style>
    .login-page-container {
      justify-content: center; 
      align-items: center; 
      padding-top: 50px; 
    }
    
    .login-form-container {
      max-width: 400px; 
      margin: 0 auto;
      padding: 20px; 
      border: 1px solid #ccc; 
      border-radius: 10px; 
      background-color: #f8f9fa; 
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    }
    
    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px; 
    }
    
    .button-container a {
      flex: 0; 
      width: auto; 
      margin-right: auto; 
      white-space: nowrap; 

    }
    
    .button-container button {
      flex: 0; 
      width: auto; 
      padding: auto; 
      white-space: nowrap;
    }
  </style>

  <div class="login-page-container">
    <div class="login-form-container">
      <h3>Login</h3>
      <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="button-container">
          <a href="{% url 'accounts:signup' %}" class="btn btn-outline-warning">회원가입</a>
          <button type="submit" class="btn btn-outline-warning">로그인</button>
        </div>
      </form>
    </div>
  </div><br />
{% endblock %}
