{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
  <style>
    .update-page-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px; 
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .update-form-container {
      max-width: 600px; 
      margin: 0 auto;
      padding: 30px; 
      border: 1px solid #ccc; 
      border-radius: 10px; 
      background-color: #f8f9fa; 
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    }
    
    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px; 
    }
    
    .button-container a,
    .button-container button {
      flex: 1; 
      margin: 0 5px; 
      white-space: nowrap;
    }
  </style>

  <div class="update-page-container">
    <div class="update-form-container">
      <h3>비밀번호 수정</h3>
      <form action="{% url 'accounts:update_password' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="button-container">
          <a href="{% url 'accounts:signup' %}" class="btn btn-outline-warning">회원가입</a>
          <button type="submit" class="btn btn-outline-warning">수정</button>
        </div>
      </form>
    </div>
  </div><br />
{% endblock %}
