{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>

<div class="card container text-center bg-body-tertiary">
    <div class="row">
      <div class="col-5">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{product.title}}" class='product' width='100%'>
        {% else %}  
            <img class="no_product" src="{% static "image/no_image.png" %}" width='100%'>
        {% endif %}
        <br>
      </div>
      <div class="col-7"><h1>{{product.title}}</h1></div>
    </div>
  </div>

<p class='fs-3'>{{product.convert_hashtags_to_links|safe}}</p>
<br>
<p class='fs-5'>{{product.created_string}}</p><br>



{% if user in product.user_like.all %}
    <form action="{% url "products:like" product.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-heart text-danger"> {{product.user_like.count}}</i></button>
    </form>
{% else %}
    <form action="{% url "products:like" product.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="fa-regular fa-heart text-danger"> {{product.user_like.count}}</i></button>
    </form>
{% endif %}



{% if request.user == product.author %}
<a href="{% url "products:update" product.pk %}"><button class="btn btn-outline-warning">수정하기</button></a>
<form action="{% url "products:delete" product.pk %}" method='POST'>
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">삭제하기</button>
</form>
{% endif %}



{% endblock content %}