{% extends "base.html" %}

{% block content %}

<h1>{{product.title}}</h1><br>
<img src="{{ product.image.url }}" alt="{{product.title}}" class='product'><br>
<p class='fs-3'>{{product.convert_hashtags_to_links|safe}}</p>


<p>{{product.created_string}}</p><br>


{% if request.user == product.author %}
<a href="{% url "products:update" product.pk %}"><button class="btn btn-outline-warning">수정하기</button></a>
<form action="{% url "products:delete" product.pk %}" method='POST'>
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">삭제하기</button>
</form>
{% endif %}



{% endblock content %}